html {
 height: 100%;
}
body {
 font-family: Verdana, Arial;
 background-image: url(img/background.png);
 background-attachment: fixed;
 height: 100%;
 margin: 0 auto;
 text-align: center;
}
#body {
 font-family: Verdana, Arial;
 min-height: 100%;
 background-image: url(img/background-text.png);
 margin: 0 auto;
 text-align: left;
 width: 1000px;
 padding: 20px;
 border-left: 1px solid black;
 border-right: 1px solid black;
}
#bron{
 font-size: 15px;
}
.HEAD {
 width: 500px;
 border-width: 1px;
 border-color: black;
 border-style: solid;
 float: left;
}
.SMALL {
 width: 300px;
 border-width: 1px;
 border-color: black;
 border-style: solid;
}
.LINE {
 width: 700px;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
a:link {
 color: black; 
}
a:visited {
 color: black; 
address {
 margin-top: 1em;
 padding-top: 1em;
 border-top: thin dotted; 
}

